<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.Area">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from area
    where id = #{id}
  </delete>
 <!-- <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.pojo.Area" useGeneratedKeys="true">
    insert into area (`name`)
    values (#{name,jdbcType=VARCHAR})
  </insert>-->
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.pojo.Area" useGeneratedKeys="true">
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.Area">
    update area
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 <!-- <update id="updateByPrimaryKey" parameterType="com.example.pojo.Area">
    update area
    set `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
  <select id="getAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from area
    limit #{param1},#{param2}
  </select>
  <select id="getByName"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from area
    <where>
      <if test="param1.id!=null and param1.id!=0">
        and id like concat('%',#{param1.id},'%')
      </if>
      <if test="param1.name!=null and param1.name!=''">
        and `name` like concat('%',#{param1.name},'%')
      </if>
    </where>
    limit #{param2},#{param3}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from area
  </select>
  <select id="getCountByName" resultType="java.lang.Integer">
    select count(*) from area
    <where>
      <if test="id!=null and id!=0">
        and id like concat('%',#{id},'%')
      </if>
      <if test="name!=null and name!=''">
        and `name` like concat('%',#{name},'%')
      </if>
    </where>
  </select>
</mapper>